.menu-item{
    border: 2px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: row;

    width: 30vw;
    margin-bottom: 1rem;
}

.image{
    font-size: 5rem;
    margin: 1rem;

    border: 2px solid gray;
    border-radius: 10px;
    background-color: beige;
}

.product{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
}

.buttons button {
    width: 7rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    
}

.ready-btn{
    border: 2px solid green;
    border-radius: 10px;
    background-color: rgba(0, 128, 0, 0.2);
}

.cancel-btn{
    border: 2px solid red;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.2);
}